.countdown__timer {
  gap: 1.2rem;
}

.countdown__part__value--in-banner {
  min-width: 7rem;
  height: 5rem;
  padding: 1rem;
  background: rgb(var(--color-background));
  border-radius: 1rem;
  margin-bottom: .5rem;
  box-shadow: 0px 10px 10px -5px rgba(43, 43, 43, 0.04), 0px 20px 25px -5px rgba(43, 43, 43, 0.10);
  letter-spacing: -0.96px;
}

.countdown__text--in-banner {
  color: rgb(var(--color-background));
  font-size: calc(1rem * var(--font-body-scale));
  letter-spacing: 1px;
}

@media screen and (min-width: 750px) {
  .countdown__timer {
    gap: 1.6rem;
  }

  .countdown__text--in-banner {
    font-size: calc(1.2rem * var(--font-body-scale));
    letter-spacing: 1.2px;
  }
}

/* Simple style with one color for product page and Image with text section */

.product__countdown {
  padding: .6rem 1rem;
}

.countdown-simple__inner {
  gap: 1rem 2.4rem;
}

.countdown__timer-simple {
  gap: 4px;
}

.countdown__part--simple {
  border-radius: 3px;
  background: var(--color-background);
  min-width: 3rem;
  height: 2rem;
  padding: 0.8rem .5rem;
}

.countdown__part__value--simple {
  font-size: calc(2rem * var(--font-heading-scale));
  letter-spacing: -0.6px;
  color: #fff;
}

.countdown__text--simple {
  color: rgb(var(--color-foreground));
  font-size: calc(0.8rem * var(--font-body-scale));
  letter-spacing: 0.5px;
}

.countdown__sep {
  gap: 0.3rem;
}

.countdown__part--simple.hidden+.countdown__sep {
  display: none;
}

@media (min-width: 425px) {
  .countdown__part--simple {
    min-width: 2rem;
  }

  .countdown__part__value--simple {
    font-size: calc(1rem * var(--font-body-scale));
  }
}
@media (max-width: 768px) {
  .countdown__part__value--simple {
    font-size: calc(1rem * var(--font-body-scale));
  }
  .countdown__part--simple {
    border-radius: 3px;
    background: var(--color-background);
    min-width: 1.5rem;
    height: 1.5rem;
    padding: .8rem .5rem;
}
}
@media (max-width: 390px) {
.countdown__part__value {
  font-size: 12px;
}
span.bar__content__text {
  font-size: 14px;
}
}